language: php

cache:
  directories:
    - $HOME/.composer/cache

env:
  global:
    - COMPOSER_ARGS="--no-interaction"
    - COVERAGE_DEPS="php-coveralls/php-coveralls"
    - TESTS_LAMINAS_SESSION_ADAPTER_DRIVER_MYSQL=true
    - TESTS_LAMINAS_SESSION_ADAPTER_DRIVER_PGSQL=true

services:
  - mongodb
  - mysql
  - postgresql

matrix:
  fast_finish: true
  include:
    - php: 7.3
      env:
        - DEPS=latest
        - CS_CHECK=true
        - TEST_COVERAGE=true
    - php: 7.3
      env:
        - DEPS=lowest
    - php: 7.4
      env:
        - DEPS=lowest
    - php: 7.4
      env:
        - DEPS=latest
    - php: nightly
      env:
        - DEPS=lowest
        - COMPOSER_ARGS="--no-interaction --ignore-platform-reqs"
        - SKIP_MONGODB=true # ext-mongodb does not build on php8 yet (https://github.com/mongodb/mongo-php-driver/issues/1161)
    - php: nightly
      env:
        - DEPS=latest
        - COMPOSER_ARGS="--no-interaction --ignore-platform-reqs"
        - SKIP_MONGODB=true # ext-mongodb does not build on php8 yet (https://github.com/mongodb/mongo-php-driver/issues/1161)

before_install:
  - if [[ $TEST_COVERAGE != 'true' ]]; then phpenv config-rm xdebug.ini || return 0 ; fi
  - pecl channel-update pecl.php.net
  - if [[ $SKIP_MONGODB != 'true' ]]; then pecl -q upgrade mongodb ; fi
  - if [[ $SKIP_MONGODB != 'true' ]]; then $(php -m | grep -q mongodb) || echo "extension=mongodb.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini ; fi
  - psql -c 'create database laminas_session_test;' -U postgres
  - mysql -e 'CREATE DATABASE laminas_session_test;'

install:
  - travis_retry composer install $COMPOSER_ARGS --ignore-platform-reqs
  - if [[ $LEGACY_DEPS != '' ]]; then travis_retry composer update --with-dependencies $COMPOSER_ARGS $LEGACY_DEPS ; fi
  - if [[ $DEPS == 'lowest' ]]; then travis_retry composer update --prefer-lowest --prefer-stable $COMPOSER_ARGS ; fi
  - if [[ $DEPS == 'latest' ]]; then travis_retry composer update $COMPOSER_ARGS ; fi
  - if [[ $TEST_COVERAGE == 'true' ]]; then travis_retry composer require --dev $COMPOSER_ARGS $COVERAGE_DEPS ; fi
  - stty cols 120 && composer show

script:
  - if [[ $TEST_COVERAGE == 'true' ]]; then composer test-coverage ; else composer test ; fi
  - if [[ $CS_CHECK == 'true' ]]; then composer cs-check ; fi

after_script:
  - if [[ $TEST_COVERAGE == 'true' ]]; then travis_retry php vendor/bin/php-coveralls -v ; fi

notifications:
  email: false
