name: "Continuous Integration"

on:
  pull_request:
  push:
    branches:
    tags:

jobs:
  matrix:
    name: Generate job matrix
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.matrix.outputs.matrix }}
    steps:
      - name: Gather CI configuration
        id: matrix
        uses: laminas/laminas-ci-matrix-action@v1

  qa:
    name: QA Checks
    needs: [matrix]
    runs-on: ${{ matrix.operatingSystem }}
    services:
      mongo:
        image: mongo
      mysql:
        image: mysql:8
        env:
          MYSQL_ROOT_PASSWORD: 'password'
          MYSQL_ROOT_HOST: '%'
          MYSQL_USER: 'gha'
          MYSQL_PASSWORD: 'password'
          MYSQL_DATABASE: 'laminas_session'
        options: >-
          --health-cmd="mysqladmin ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 3
        ports:
          - 3306
    strategy:
      fail-fast: false
      matrix: ${{ fromJSON(needs.matrix.outputs.matrix) }}
    steps:
      - name: ${{ matrix.name }}
        uses: laminas/laminas-continuous-integration-action@v1
        with:
          job: ${{ matrix.job }}
        env:
          TESTS_LAMINAS_SESSION_ADAPTER_DRIVER_MONGODB: true
          TESTS_LAMINAS_SESSION_ADAPTER_DRIVER_MONGODB_CONNECTION_STRING: mongodb://mongo/
          TESTS_LAMINAS_SESSION_ADAPTER_DRIVER_MYSQL: true
          TESTS_LAMINAS_SESSION_ADAPTER_DRIVER_MYSQL_HOSTNAME: mysql
          TESTS_LAMINAS_SESSION_ADAPTER_DRIVER_MYSQL_USERNAME: gha
          TESTS_LAMINAS_SESSION_ADAPTER_DRIVER_MYSQL_PASSWORD: password
          TESTS_LAMINAS_SESSION_ADAPTER_DRIVER_MYSQL_DATABASE: laminas_session
